.footer{
    background-color: $second-color;
    padding-bottom: 60px;
    padding-top: 60px;
}

.footer-box{
    display: flex;
}

.address-list__link{
  margin-bottom: 9px;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02em;
  color: $footer-link;
  text-decoration: none;
@include transition(color);

  &:hover,
  &:focus{
    color: $primary-color;
  }

  &--white{
    color: $white-color;
  }
}

.join-list{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.join-contacts__title{
@extend .paragraph-basic;
margin-bottom: 20px;
}

.join-contacts{
    margin-left: 70px;
    margin-right: 93px;
}

.join-list__link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: $footer-icon-bg;
    @include transition(background-color);

    &:hover,
   &:focus{
    background-color: $primary-color;
   }
}

.join-list__icon{
   fill: $white-color;
}

.footer-input-title{
    @extend .paragraph-basic;
}

.btn-distrib{
  display: flex;
    @include buttons();
}

.icon-send{
    margin-left: 10px;
    fill: $white-color;
}

.footer-input-wrap{
    display: flex;
  align-items: center;
}