.services-wrap {
    @extend .container;
    padding-bottom: 94px;
}

.title-services {
    @extend %titles;
    margin-bottom: 50px;
}

.serv-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.img-services{
    position: relative;
}

.img-services__text{
    @extend .paragraph-basic;
    position: absolute;
    bottom: 4px;

    padding-top: 27px;
    width: 370px;
    height: 70px;
    text-align: center;
    background-color: $bg-serv;

}