.container {
    margin: auto;
    padding: 0 15px;
    width: 1230px;
    /*outline: 1px solid red;*/
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.paragraph-basic{
    font-family: $main-font;
        font-style: normal;
        font-weight: $font-weight-bold;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    
        color:$white-text;
}