// colors
$primary-color: #2196F3;
$color-text: #212121;
$description-color: #757575;
$second-color: #2F303A;
$second-color-text: #fff;
$btn-hover: #188ce8;
// fonts
$main-font:  "Roboto", sans-serif;
$logo-font: 'Raleway';
$font-weight-bold: 700;