// colors
$primary-color: #2196F3;
$color-text: #212121;
$description-color: #757575;
$second-color: #2F303A;
$white-text: #fff;
$btn-hover: #188ce8;
$icon-color: #AFB1B8;
$icon-bg-color: #F5F4FA;
$bg-serv: rgba(47, 48, 58, 0.8);
// fonts
$main-font: "Roboto", sans-serif;
$logo-font: 'Raleway';
$font-weight-bold: 700;
// border
$main-border-radius: 0px 0px 4px 4px;
